/*ADMIN*/
#cpanel div.icon .a2 {
	display: block;
	float: left;
	border: 1px solid #f0f0f0;
	height: 200px;
	width: 200px;
	color: #666;
	vertical-align: middle;
	text-decoration: none;
}
.titulo {
	font-weight: bold;
	font-size: 13px;
	color: #666666;
}
/*Imagenes de la tollbar*/
.icon-32-directorIcono{
	background-image: url('/proyecto/media/com_peliculas/iconos/director.png');
}
.icon-32-categoriaIcono{
	background-image: url('/proyecto/media/com_peliculas/iconos/categoria.png');
}
.icon-32-famosoIcono{
	background-image: url('/proyecto/media/com_peliculas/iconos/famoso.png');
}
/*SITE*/
.indicador{
	font-family: Arial, Helvetica, Sans-Serif;
  	font-size: 14px;
  	font-style: normal;
  	font-weight: bold;
  	text-align: left;
  	color: #5C6459;
	height:400px;
}
.centrado{
	text-align: center;
}
/*General*/
.clear-left{
	clear: left;
}
.clear-right{
	clear: right;
}
.cartel{
    float:left;
	margin: 0px 15px 15px 0px;
}
.datosPelicula{
	float:left;
}
.pelicula{
    min-height: 250px;
}
